:root {
  --bg:#1f0d01;
  --color:#b9890e;

}
i {
  color: var(--color);
}
body {
  background: aliceblue;
}
header {
    min-height: 25%;
    width: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
      text-align: center;
    }
    header img {
width: 50%;
    }

    /*nav style*/
    nav {
      background-color: #eee;
      display: flex;
      height: 40%;
      justify-content: center;
      width: 100%;
     
    }
    nav a {
      color: var(--color);
      font-size: 18px;
      font-weight: bold;
      text-decoration: none;
      justify-content: center;
      padding: 10px 5%;
    }
    nav a span {
        color: #1f0d01;
    }
    nav a:hover {
        color: #1f0d01;
    }
    nav img {
        width: 35%;
        margin-bottom: 20px; 
    }
    @media (max-height: 800px) {
      nav a {
        font-size: 16px;
        padding: 10px;
      }
    }
   /*search bar style*/

    #search-bar {
      display: flex;
      justify-content: center;
      margin-top: 20px;
    }
    #search-bar input[type="text"] {
      padding: 10px;
      width: 50%;
      border-radius: 3px;
      border: none;
      font-size: 16px;
      box-shadow: 0 0 5px #1f0d01;
    }
    #search-bar button {
      background-color: #1f0d01;
      color: var(--color);
      padding: 10px;
      border-radius: 2px;
      border: none;
      margin-left: 10px;
      font-size: 16px;
      cursor: pointer;
      width: 100px;
    }
    /* contents tyle */


    .artisians {
       display: flex;
       flex-wrap: wrap;
       justify-content: space-between;
       width: 80%;
       height: 50vh;
       margin: auto;
       text-align: left;
       padding: 50px;
       
       
    }
    .card {
        flex-basis: 32%;
        border-radius: 10px;
        margin-bottom: 30px;
        position: relative;
        overflow: hidden;
        height: 90%;
        
    }
  
    /* Style for the directory cards */
button:hover span {
  width: 100%;
}

button:hover {
  border: none;
}

/* sevices style */
.sevices {
  position: relative;
  overflow: hidden;
  padding: 20px;
}

.sevices-category {
  padding: 0 10vw;
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 40px;
  text-transform: capitalize;
}

.sevices-container {
  padding: 0 10vw;
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
}

.sevices-container::-webkit-scrollbar {
  display: none;
}

.sevices-card {
  flex: 0 0 auto;
  width: 250px;
  height: 500px;
  margin-right: 40px;
}

.sevices-image {
  position: relative;
  width: 100%;
  height: 350px;
  overflow: hidden;
}

.sevices-thumb {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.location {
  position: absolute;
  background: #fff;
  padding: 5px;
  border-radius: 5px;
  color: #000;
  right: 10px;
  top: 10px;
}

.card-btn {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
  width: 90%;
  text-transform: capitalize;
  border: none;
  outline: none;
  background: #fff;
  border-radius: 5px;
  transition: 0.5s;
  cursor: pointer;
  opacity: 0;
}

.sevices-card:hover .card-btn {
  opacity: 1;
}

.card-btn:hover {
  background: #ff7d7d;
  color: #fff;
}

.sevices-info {
  width: 100%;
  height: 100px;
  padding-top: 10px;
}

.sevices-brand {
  text-transform: uppercase;
}

.sevices-short-description {
  width: 100%;
  height: 20px;
  line-height: 20px;
  overflow: hidden;
  opacity: 0.5;
  text-transform: capitalize;
  margin: 5px 0;
}

.location {
  font-weight: 900;
  font-size: 20px;
  color: #ff7d7d;
}

.actual-location {
  margin-left: 20px;
  opacity: 0.5;

}

.pre-btn,
.nxt-btn {
  border: none;
  width: 10vw;
  height: 100%;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  cursor: pointer;
  z-index: 8;
}

.pre-btn {
  left: 0;
  transform: rotate(180deg);
}

.nxt-btn {
  right: 0;
}

.pre-btn img,
.nxt-btn img {
  opacity: 0.2;
}

.pre-btn:hover img,
.nxt-btn:hover img {
  opacity: 1;
}

.collection-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}

.collection {
  position: relative;
}

.collection img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.collection p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  font-size: 50px;
  text-transform: capitalize;
}

.collection:nth-child(3) {
  grid-column: span 2;
  margin-bottom: 10px;
}
/*footer*/
footer {
  position: fixed;
  bottom: 0;
}

@media (max-height: 800px) {
  footer {
      position: static;
  }
  header {
      padding-top: 40px;
  }
}

.footer-distributed {
  background-color: var(--bg);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
  padding: 50px 50px 60px 50px;
  margin-top: 80px;
}

.footer-distributed .footer-left, .footer-distributed .footer-center, .footer-distributed .footer-right {
  display: inline-block;
  vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left {
  width: 30%;
}

.footer-distributed h3 {
  color: #ffffff;
  font: normal 36px 'Cookie', cursive;
  margin: 0;
}


.footer-distributed h3 span {
  color: #e0ac1c;
}

/* Footer links */

.footer-distributed .footer-links {
  color: #ffffff;
  margin: 20px 0 12px;
}

.footer-distributed .footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
}

.footer-distributed .footer-company-name {
  color: #8f9296;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center {
  width: 35%;
}

.footer-distributed .footer-center i {
  background-color: #33383b;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
  font-size: 17px;
  line-height: 38px;
}

.footer-distributed .footer-center p {
  display: inline-block;
  color: #ffffff;
  vertical-align: middle;
  margin: 0;
}

.footer-distributed .footer-center p span {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
}

.footer-distributed .footer-center p a {
  color: #e0ac1c;
  text-decoration: none;
  ;
}

/* Footer Right */

.footer-distributed .footer-right {
  width: 30%;
}

.footer-distributed .footer-company-about {
  line-height: 20px;
  color: #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-company-about span {
  display: block;
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer-distributed .footer-icons {
  margin-top: 25px;
}

.footer-distributed .footer-icons a {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color: #33383b;
  border-radius: 2px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-right: 3px;
  margin-bottom: 5px;
}

.footer-distributed .footer-icons a:hover {
  background-color: var(--bg);
}

.footer-links a:hover {
  color: var(--color);
}

@media (max-width: 880px) {
  .footer-distributed .footer-left, .footer-distributed .footer-center, .footer-distributed .footer-right {
      display: block;
      width: 100%;
      margin-bottom: 40px;
      text-align: center;
  }
  .footer-distributed .footer-center i {
      margin-left: 0;
  }
}       
      